.addContact {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Ensure container takes full height of the viewport */
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #333;
}

.divider {
  margin: 20px 0;
}


@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
  
  .divider {
    width: 100%;
    border: 1px solid #ccc;
  }
}
