.chitfund-details {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.chitfund-details h2 {
  margin-bottom: 20px;
  color: #222;
  font-size: 24px;
  text-align: center;
}

.chitfund-details .subnav {
  margin-bottom: 20px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.chitfund-details .subnav::-webkit-scrollbar {
  height: 8px; /* Adjust as needed */
}

.chitfund-details .subnav::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners */
}

.chitfund-details .subnav::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scroll track */
  border-radius: 4px; /* Rounded corners */
}

.chitfund-details .subnav button {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #b5e1ff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.chitfund-details .subnav button.active {
  background-color: #4876a3;
  color:white
}

.chitfund-details .subnav button:hover {
  background-color: #4876a3;
  color:white
}

.error {
  color: #d9534f;
  text-align: center;
}

.members-table {
  margin-top: 20px;
}

.members-table .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.members-table h3 {
  color: #333;
  font-size: 20px;
}

.actions {
  display: flex;
  gap: 10px;
}

.action-button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #c10707;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
} 

.action-button.save-button {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.action-button:hover {
  background-color: #891111;
}

.action-button.save-button:hover {
  background-color: #4cae4c;
  border-color: #4cae4c;
}

.members-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.members-table th,
.members-table td {
  padding: 10px;
  border: 1px solid #dee2e6;
  text-align: left;
}

.members-table th {
  background-color: #e9ecef;
}

.members-table td {
  background-color: #ffffff;
}

.members-table tr:nth-child(even) td {
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .chitfund-details {
    padding: 10px;
  }

  .chitfund-details h2 {
    font-size: 20px;
  }

  .chitfund-details .subnav button {
    padding: 8px 10px;
    font-size: 14px;
  }

  .members-table h3 {
    font-size: 18px;
  }

  .action-button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .members-table th,
  .members-table td {
    padding: 8px;
    font-size: 14px;
  }

  .members-table table {
    font-size: 14px;
  }
}


