.active{
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 50px;

}
<div className="text-container flex items-center justify-between">
<div className="flex items-center">
  <div className="user-name">
    Hello {userData ? userData.name : 'Guest'}
  </div>
  <FaStar className="yellow-star ml-2" />
</div>
<div className="flex items-center">
  <FaBell className="notification-icon mr-4" /> {/* Notification icon */}
  <FaUser className="profile-avatar rounded-full" /> {/* Profile avatar icon */}
</div>
</div>

.text-container {
  display: flex; /* Make the container flex */
  align-items: center; /* Align items vertically */
  margin: 5px 0 5px 0 ;
  /* background-color: white; */
  padding: 5px;
  
justify-content: space-between;

}
nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color:#172554 ;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}


@media (max-width: 480px) {
  nav .menu {
      display: flex;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
}