.dashboard{
    /* margin-top: 50px; */
    min-height: 100vh;

}
.outlet{
    padding: 1rem;
}
.yellow-star {
    color: #ffd700;
    font-size: 1.5rem; /* Base size */
  }
  
  @media (max-width: 767px) {
    .yellow-star {
      font-size: 1.2rem; /* Smaller size for smaller screens */
    }
  }
  