.dashboardHome{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
margin-top: 10px;
    
}

  

  .image-grid {
    display: grid;
    grid-gap: 20px; /* Gap between grid items */
    cursor: pointer;
  }
  
  .section-title{
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    font-weight: bold; /* Make the name bold */

  }
  /* Large devices (laptops, desktops) */
  @media (min-width: 1024px) {
    .image-grid {
      grid-template-columns: repeat(4, 1fr); /* Two columns */
    }
    
    .grid-item {
      width: calc(100% - 10px); /* Adjust the width of grid items */
      height: auto;
      transition: transform 0.3s ease; /* Add transition effect for smooth scaling */
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Add box shadow */
    }
    
    .grid-item:hover {
      transform: scale(1.1); /* Scale up on hover */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    }
  }
  
  /* Small devices (mobile phones) */
  @media (max-width: 767px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr); /* Single column */
    }
  }
  
  .dashboardHome .title {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    font-weight: bold;
    font-size: 24px;

  }
  
  .dashboardHome .divider {
    width: 100%;
    border: 1px solid black;
    margin: 0; /* Remove default margin */
    margin-top: 4px; /* Adjust the margin as needed */
  }
  