.dashboard{
    /* margin-top: 50px; */
    min-height: 100vh;
    background-color: #ecf0f1;

}
.yellow-star {
    color: #ffd700; /* Yellow color */
  }
  
  /* Add any additional styling for the text here */
  