/* Container styles */
.existing-chit-page {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Sidebar styles */
.existing-sidebar {
  width: 20%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Option styles */
.existing-chit-page .option {
  text-align: center;
  display: block;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f2f2f2; /* Changed color */
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.existing-chit-page .option:hover {
  background-color: #b5e1ff; /* Darker shade on hover */
  color: #000; /* Changed text color on hover */
}

.existing-chit-page .option.active {
  background-color: #b5e1ff; /* Darker shade for active */
  color: #000; /* Changed text color for active */
}

.existing-chit-page .option.back {
  background-color: #007bff; /* Changed background color */
  color: #fff; /* Changed text color */
}

.existing-chit-page .option.back:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Main content styles */
.main-content-existing-page {
  width: 75%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table styles */
.existing-chit-page table {
  width: 100%;
  border-collapse: collapse;
}

.existing-chit-page th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.existing-chit-page th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.existing-chit-page tr:nth-child(even) {
  background-color: #f9f9f9;
}

.existing-chit-page tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/* Delete Button Styles */
.existing-chit-page button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.existing-chit-page button:hover {
  background-color: #c9302c;
}

/* Delete Dialog Styles */
.existing-chit-page .delete-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.existing-chit-page .delete-dialog-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.existing-chit-page .delete-dialog-content button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.existing-chit-page .delete-dialog-content button:first-of-type {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
}

.delete-dialog-content button:first-of-type:hover {
  background-color: #c9302c;
}

.delete-dialog-content button:last-of-type {
  background-color: #5bc0de;
  color: white;
  border: none;
  border-radius: 4px;
}

.delete-dialog-content button:last-of-type:hover {
  background-color: #31b0d5;
}

/* Media Query for Mobile View */
@media only screen and (max-width: 768px) {
  .existing-chit-page {
    flex-direction: column;
  }

  .existing-sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .existing-chit-page .subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .existing-chit-page .subnav div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }

  .main-content-existing-page {
    width: 100%;
  }

  .existing-chit-page .option.active {
    background-color: #b5e1ff;
    color: white;
  }
}
/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

@media only screen and (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination button {
    margin: 5px;
  }
}